.DS_Store
.idea/
docker/postgres/data/
*.log

/api/vendor/
/api/node_modules/
/api/npm-debug.log
/api/.env
/api/.phpunit.result.cache
/api/public/storage
/api/storage/logs/*

/front/node_modules/
/front/dist/
/front/npm-debug.log
/front/package-lock.json
/front/.env